body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(/images/paper_fibers_@2X.png)
}

.welcome {
  max-width: 400px;
  padding: 19px 29px 29px;
  background: #fff;
  margin: 10px auto 20px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#content {
  margin-top: 20px;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#footer p {
  margin: 10px 0px;
  text-align: center;
  color: #888;
}
