html, body {min-width:960px;}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(/images/paper_fibers_@2X.png)
}

#welcome {position:relative;width:100%;overflow:hidden;}
#welcome .image-wrapper {height:500px;}
#welcome .image-wrapper img {width:100%;}
#welcome .caption {width:450px;top:200px;left:50px;position:absolute;color:#fff;line-height:1.25;text-shadow:1px 1px 10px black;}

.welcome {
  max-width: 400px;
  padding: 19px 29px 29px;
  background: #fff;
  margin: 10px auto 20px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#content {
  margin-top: 20px;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

footer p {
  margin: 10px 0px;
  text-align: center;
  color: #888;
}


.script-list {margin:0;border:1px solid #ccc;height:150px;overflow-y:scroll;}
.script-list li {list-style:none;padding:2px 10px;border-bottom:1px solid #eee;}
.script-list li > a {display:block;width:95%;height:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.script-list .script-controls {display:inline-block;}
.script-list .script-controls i {opacity:0.5;}
.script-list .script-controls i:hover {opacity:1;}

.controls .input-prepend {margin:0;}
.controls .btn-toolbar {margin:0;}

#execute-script-btn {width:250px;margin-left:-85px;}
#execute-script-btn .organization {padding:3px 10px;color:#999;line-height:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}