<!-- <div class="welcome">
  <h2>Welcome to Tenderloin</h2>
  <p>It's great to see you. Why don't you log in and we can get started? </p>
  <a href="/auth/google" class="btn btn-large btn-primary">Signup/Login with Google</a>
</div> -->

<div id="welcome">
  <div class="image-wrapper">
    <img src="/images/tenderloin.jpg" />
  </div>
  
  <div class="caption">
    <h1>Welcome to Tenderloin</h1>
    <p class="lead">
      It's great to see you. Why don't you log in and we can get started?
    </p>
    <a href="/auth/google" class="btn btn-large btn-primary">Signup or Login with Google</a>
  </div>
</div>