<div class="welcome">
  <h2>Sign in to Tenderloin</h2>
  <p>It's great to see you. Why don't you log in and we can get started? </p>
  <a class="btn btn-large btn-primary">Signup/Login with Google</a>
</div>
<a href="/auth/google">Signup/Login with Google</a>
