<!DOCTYPE html>
<html>
  <head>
    <title>Tenderloin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <%- stylesheet_include('bootstrap.min', 'tenderloin') %>
    <%- javascript_include('jquery-1.9.1.min', 'bootstrap.min') %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Tenderloin</a>
        </div>
      </div>
    </div>
    <div class="container" id="content">
      <%- yield() %>
    </div>
    <div id="footer">
      <p>Made with Love. &copy; 2013</p>
    </div>
  </body>
</html>
