<!DOCTYPE html>
<html>
  <head>
    <title>Tenderloin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <%- stylesheet_include('bootstrap.min', 'tenderloin') %>
    <%- javascript_include('jquery-1.9.1.min', 'bootstrap.min') %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Tenderloin</a>
        <% if (is_logged_in()) { %>
        <ul class="nav pull-right">
          <li><a href="/auth/logout">Logout</a></li>
        </ul>
        <% } %>
        </div>
      </div>
    </div>
    
    <%- yield() %>

    <footer>
      <p>Made with Love. &copy; 2013</p>
    </footer>
  </body>
</html>
